body {
    text-align: center;
    background-color: #f0f0f0; /* Cor de fundo mais suave */
}

h1 {
    color: #333; /* Cor mais escura para o título */
}

.img {
    max-width: 100%;
    margin-top: 20px;
}

.quadrado {
    width: 15%; /* Alteração no tamanho para tornar responsivo */
    padding-top: 3%; /* Proporção quadrada */
    background: #ebe9e9;
    display: inline-block;
    font-size: 5vw; /* Tamanho de fonte responsivo */
    margin: 1%;
    cursor: pointer;
    color: #333; /* Cor do texto mais escura */
    transition: background-color 0.3s ease; /* Suaviza a transição da cor de fundo */
}

.quadrado:hover {
    background-color: #ddd; /* Cor de fundo mais clara ao passar o mouse */
}

.jogador, .vencedor {
    font-size: 3vw; /* Tamanho de fonte responsivo */
    margin-top: 10px;
    color: #333; /* Cor do texto mais escura */
}

.button {
    margin-top: 20px; /* Mais espaço acima do botão */
    width: 100px;
    height: 40px; /* Altura do botão aumentada */
    background: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Borda arredondada */
    font-size: 16px; /* Tamanho de fonte do botão */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Suaviza a transição da cor de fundo */
}


