body {
    text-align: center;
    background-color: #f0f0f0; 
}

h1 {
    color: #333; 
}

.img {
    max-width: 100%;
    margin-top: 20px;
}

.quadrado {
    width: 15%; 
    padding-top: 3%; 
    background: #ebe9e9;
    display: inline-block;
    font-size: 5vw; 
    margin: 1%;
    cursor: pointer;
    color: #333; 
    transition: background-color 0.3s ease; 
}

.quadrado:hover {
    background-color: #ddd; 
}

.jogador, .vencedor {
    font-size: 3vw; 
    margin-top: 10px;
    color: #333; 
}

.button {
    margin-top: 20px; 
    width: 100px;
    height: 40px; 
    background: #007bff; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}


